{% extends 'layouts/app.twig' %}

{% block header %}
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				<ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
					<li class="breadcrumb-item">
						<a href="{{ base_url('/') }}">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ base_url('/feature') }}">Feature</a>
					</li>
				</ol>
			</div>
			<h2 class="page-title">
				{{ title | default('Edit') }}
			</h2>
		</div>
		<div class="col-auto ms-auto d-print-none">
			<div class="btn-list">
				<a href="{{ base_url('feature') }}" class="btn d-none d-sm-inline-block">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-left" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<desc>Download more icon variants from https://tabler-icons.io/i/arrow-left</desc>
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<line x1="5" y1="12" x2="19" y2="12"></line>
						<line x1="5" y1="12" x2="11" y2="18"></line>
						<line x1="5" y1="12" x2="11" y2="6"></line>
					</svg>
					Back
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<form id="form" method="post" class="card">
		<div class="card-body">
			<div class="form-group mb-3">
				<label for="module">Module</label>
				<input type="text" class="form-control" name="module" id="module" placeholder="Module" value="{{ feature.module }}">
			</div>
			<div class="form-group mb-3">
				<label for="class">Class</label>
				<input type="text" class="form-control" name="class" id="class" placeholder="Class" value="{{ feature.class }}">
			</div>
			<div class="form-group mb-3">
				<label for="method">Method</label>
				<input type="text" class="form-control" name="method" id="method" placeholder="Method" value="{{ feature.method }}">
			</div>
			<div class="form-group mb-3">
				<label for="description">Description</label>
				<input type="text" class="form-control" name="description" id="description" placeholder="Description" value="{{ feature.description }}">
			</div>
			<input type="hidden" name="feature_id" id="feature_id" value="{{ feature.id }}">
		</div>
		<div class="card-footer">
			<button id="submit" class="btn btn-primary" type="button">
				Submit
			</button>
		</div>
	</form>
{% endblock %}

{% block scripts %}
	<script src="{{ base_url ('/js/modules/feature/edit-feature.js')}}"></script>
{% endblock %}
