{% extends 'layouts/app.twig' %}

{% block header %}
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				<ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
					<li class="breadcrumb-item">
						<a href="{{ base_url('/') }}">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ base_url('feature') }}">Feature</a>
					</li>
				</ol>
			</div>
			<h2 class="page-title">
				{{ title | default('Feature') }}
			</h2>
		</div>
		<div class="col-auto ms-auto d-print-none">
			<div class="btn-list">
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#createFeature" feature="button" aria-controls="createFeature">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<line x1="12" y1="5" x2="12" y2="19"></line>
						<line x1="5" y1="12" x2="19" y2="12"></line>
					</svg>
					Create
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="table-responsive">
			<table class="table table-vcenter card-table table-striped">
				<thead>
					<tr>
						<th>Module</th>
						<th>Class</th>
						<th>Method</th>
						<th>Description</th>
						<th class="w-25">Action</th>
					</tr>
				</thead>
				<tbody>
					{% for feature in features %}
						<tr id="{{ feature.id }}">
							<td class="text-muted">{{ feature.module }}</td>
							<td class="text-muted">{{ feature.class }}</td>
							<td class="text-muted">{{ feature.method }}</td>
							<td class="text-muted">{{ feature.description }}</td>
							<td class="text-muted">
								<a href="{{ base_url('feature') }}/{{feature.id}}" class="btn btn-sm text-primary">
									<i class="ti ti-list-details"></i>
									Detail
								</a>
								|
								<a href="{{ base_url('feature') }}/{{feature.id}}/edit" class="btn btn-sm text-warning">
									<i class="ti ti-edit"></i>
									Edit
								</a>
								|
								<span class="btn btn-sm text-danger remove">
									<i class="ti ti-trash"></i>
									Delete
								</span>
							</td>
						</tr>
					{% else %}
						<tr>
							<td colspan="5">No Data</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="createFeature" aria-labelledby="canvasLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="canvasLabel">Create Feature</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<form method="post" id="form">
			<div class="offcanvas-body">
				<div>
					<div class="form-group mb-3">
						<label for="module">Module</label>
						<input type="text" class="form-control" name="module" id="module" placeholder="Module">
					</div>
					<div class="form-group mb-3">
						<label for="class">Class</label>
						<input type="text" class="form-control" name="class" id="class" placeholder="Class">
					</div>
					<div class="form-group mb-3">
						<label for="method">Method</label>
						<input type="text" class="form-control" name="method" id="method" placeholder="Method">
					</div>
					<div class="form-group mb-3">
						<label for="description">Description</label>
						<input type="text" class="form-control" name="description" id="description" placeholder="Description">
					</div>
				</div>
				<div class="mt-3">
					<button id="submit" class="btn btn-primary" type="button" data-bs-dismiss="offcanvas">
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ base_url ('/js/modules/feature/feature.js')}}"></script>
{% endblock %}
