{% extends 'layouts/auth.twig' %}

{% block title %}
Reset Password
{% endblock %}

{% block body %}

{{ form_open ('auth/reset_password' . code, 'class="card card-md"') }}

<div class="card-body">
    <h2 class="card-title text-center mb-4">Reset Password</h2>

    <div class="mb-3">
        <label class="form-label">Password</label>
        <div class="input-group input-group-flat">
            {{ form_input (new_password) }}
            <span class="input-group-text">
                <a href="#" class="link-secondary" title="" data-bs-toggle="tooltip"
                    data-bs-original-title="Show password">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="2"></circle>
                        <path
                            d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7">
                        </path>
                    </svg>
                </a>
            </span>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <div class="input-group input-group-flat">
            {{ form_input (new_password_confirm) }}
            <span class="input-group-text">
                <a href="#" class="link-secondary" title="" data-bs-toggle="tooltip"
                    data-bs-original-title="Show password">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                        stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <circle cx="12" cy="12" r="2"></circle>
                        <path
                            d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7">
                        </path>
                    </svg>
                </a>
            </span>
        </div>
    </div>
    <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">Reset Password</button>
    </div>
</div>

{{ form_input (user_id) }}
{{ form_hidden (csrf) }}

{{ form_close () }}

{% endblock %}