{% extends 'layouts/app-vertical.twig' %}

{% block header %}
	<div class="row align-items-center">
		<div class="col">
			<div class="page-pretitle">
				<ol class="breadcrumb breadcrumb-arrows" aria-label="breadcrumbs">
					<li class="breadcrumb-item">
						<a href="{{ base_url('/') }}">Home</a>
					</li>
					<li class="breadcrumb-item">
						<a href="{{ base_url('role') }}">Role</a>
					</li>
				</ol>
			</div>
			<h2 class="page-title">
				{{ title | default('Role') }}
			</h2>
		</div>
		<div class="col-auto ms-auto d-print-none">
			<div class="btn-list">
				<a class="btn btn-primary" data-bs-toggle="offcanvas" href="#createRole" role="button" aria-controls="createRole">
					<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewbox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
						<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
						<line x1="12" y1="5" x2="12" y2="19"></line>
						<line x1="5" y1="12" x2="19" y2="12"></line>
					</svg>
					Create
				</a>
			</div>
		</div>
	</div>
{% endblock %}

{% block body %}
	<div class="card">
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-striped nowrap border" id="role">
					<thead>
						<tr>
							<th>Name</th>
							<th>Type</th>
							<th class="w-25">Action</th>
						</tr>
					</thead>
					<tbody class="table-tbody"></tbody>
				</table>
			</div>
		</div>
	</div>

	<div class="offcanvas offcanvas-end" tabindex="-1" id="createRole" aria-labelledby="canvasLabel">
		<div class="offcanvas-header">
			<h2 class="offcanvas-title" id="canvasLabel">Create Role</h2>
			<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
		</div>
		<form id="form">
			<div class="offcanvas-body">
				<div>
					<div class="form-group mb-3">
						<label for="name">Name</label>
						<input type="text" class="form-control" name="name" id="name" placeholder="Name">
					</div>
				</div>
				<div class="mt-3">
					<button id="submit" class="btn btn-primary" type="button" data-bs-dismiss="offcanvas">
						Submit
					</button>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block scripts %}
	<script src="{{ base_url ('/vendor/datatables/js/datatables.min.js')}}"></script>
	<script src="{{ base_url ('/js/modules/role/role.js')}}"></script>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ base_url ('/vendor/datatables/css/datatables.min.css')}}">
{% endblock %}
